@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


section.mainBody {
  padding: 20px;
  display:flex;
  flex-direction: column;
  font-family:'Roboto',sans-serif;
  color:#494b4d;
}

section.mainBody .heading h2{
  font-size:35px;
  font-weight: bold;
  color:#2a2a2b;
  text-align: center;
  padding-bottom: 10px;
}

section.mainBody .body p{
  font-size: 18px;
  padding-top: 20px;
  /* word-wrap:normal; */
}

#goToFooter {
    cursor: pointer;
}

#goToTop{
    cursor: pointer;
    position:fixed;
    right:20px;
    bottom:20px;
}


/* For devices with small screen */

@media(max-width: 858px){

  section.mainBody .body p{
    padding: 20px;
  }
}


@media (max-width: 400px){

  section.mainBody{
    width: 80%;
  }

  section.mainBody .body p {
    padding: 20px;
    font-size:14px;
  }

  section.mainBody .heading h2{
    font-size: 20px;
  }

  section.mainBody .body p{
    font-size: 16px;
  }
}

@media(max-width: 360px){

  section.mainBody{
    width: 100%;
  }

  section.mainBody .body{
    padding:20px;
  }

  section.mainBody .body p{
    padding: 20px;
    font-size:16px
  }

}